

body {
    text-align: center;
    align-items: center;
    height: 800px;
    width: 400px;
    margin-left: 37%;
    background: #F4DECB;
}



.container {
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
}

.container h1 {
    color: #76323f;
    font-size: 53px;
    text-shadow: 5px 5px 8px #333;
}

.container h2 {
    color: #76323f;
    font-size: 35px;
    font-family: 'Courier New', Courier, monospace;
}

a {
    display: flex;
    align-items: center;
    background: #76323f;
    color: #fff;
    text-decoration: none;
    /* text-align: center; */
    list-style-type: none;
    height: 60px;
    width: 400px;
    font-size: 22px;
    border-radius: 5px;
    font-weight: bold;
    border: #fff;
    font-family: 'Courier New', Courier, monospace;
    box-shadow: 8px 8px 8px #333;
}

.container3  {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container3 h1 {
    display: flex;
    text-align: center;
    justify-content: space-around;
    color: #76323f;
    font-size: 45px;
}

.container3 th {
    text-align: left;
    color: #76323f;
    font-size: 20px;
    padding-top: 40px;
    font-family: 'Courier New', Courier, monospace;
}

.container3 td {
    text-align: center;
    color: #000;
    font-size: 16px;
    padding-top: 20px;
    padding-right: 18px;
}

.container4  {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container4 h1 {
    display: flex;
    text-align: center;
    justify-content: space-around;
    color: #76323f;
    font-size: 45px;
}

.container4 th {
    align-items: center;
    text-align: center;
    color: #76323f;
    font-size: 20px;
    padding-top: 40px;
    font-family: 'Courier New', Courier, monospace;
}

.container4 td {
    text-align: center;
    color: #000;
    font-size: 16px;
    padding-top: 20px;
    padding-right: 18px;
}

.container1 h1 {
    display: flex;
    text-align: center;
    justify-content: space-around;
    color: #76323f;
    font-size: 45px;
}

.container1 {
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
}



